$primary: #242424;
$font-family-base: "Open Sans", sans-serif;
$headings-color: #242424;
$headings-font-weight: 700;
$headings-margin-bottom: 0;
$h1-font-size: 70px;
$h1-font-size: 36px;
$h1-font-size: 30px;
$h1-font-size: 24px;
$h1-font-size: 18px;
$h1-font-size: 16px;
$link-hover-decoration: none;
